* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    min-height: 100vh;
    padding: 10px;
    background: #f5f7fa;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header,
footer {
    border-radius: 10px;
    background: #fff;
 
}

/* Header */

.header-style {
    height: 10vh;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-left: 1rem;
}

/* Main Layout */

section {
    display: flex;
    gap: 15px;  
    min-height: 70vh;
}

.aside_left,
.aside_right {
    flex: 1;
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Style */
.btn{
    padding: 15px 35px ;
    border: none;
    border-radius: 6px;
    background-color: #131313;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover{
    background: #313131;
    visibility: visible;
}
.read-btn , .add-to-book-btn {
    position: relative;
    display: inline-block;
}
.tool-tip{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: #222;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    
    font-size: 0.85rem;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease;


}
.read-btn:hover .tool-tip, .add-to-book-btn:hover .tool-tip{
    opacity: 1;
    visibility: visible;
}

/* Notes Area */

.note-txtarea {
    flex: 2;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #dbe9e3;
    box-shadow: 0 0px 30px rgba(15, 15, 15, 0.25);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toolbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
.toolbar button{
    padding: 5px;
    width: 60px;
}

textarea {
    flex:1;
    width: 100%;
    height: 100%;
    padding: 12px;
    font-size: 1.1rem;
    line-height: 1.6;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    outline: none;
    resize: none;
    background: transparent;
    color: #333;
    caret-color: #000;
}

textarea:focus {
    outline: none;
}

/* Footer */

footer {
    min-height: 8vh;
}

/* Mobile */

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .aside_left,
    .aside_right,
    .note-txtarea {
        width: 100%;
    }

    textarea {
        min-height: 50vh;
    }
}

/*
.note-txtarea { outline: 2px solid red; }
.toolbar { outline: 2px solid blue; }
textarea { outline: 2px solid green; }*/