* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.header-style{
    margin-top: 1em;
    height: 10vh;
}

.input-section{
    display: flex;
   justify-content: center;
   align-items: center;     
}
.logo{
    font: 2em sans-serif ;
    padding: 10px;
    margin-left: 1em;
}

.note-txtarea{
   padding: 10px;
   box-shadow: 0 0 30px 20px  rgb(118, 192, 166, 0.5);
   border-radius: 6px;
   border: 3px white solid;
}
textarea{
    padding: 0 0 0 5px;
    font: 1.5em sans-serif;
    width: 40vw;
    height: 70vh;
    resize: none;
    outline: none;  
    border: none;
    box-shadow: none;
    caret-color: black;
    border-radius: 5px; 
    
}
textarea:hover{
    outline: none;
    border: none;
    box-shadow: none;
}